<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form name="form">
                <div class="row">
                    <div class="col-md-4">
                        <div ng-class="{ 'form-group': true, 'has-error': form.date.$invalid }">
                            <label class="control-label">Date</label>
                            <input name="date" type="text" class="form-control" spellcheck="false" ng-model="data.date" required="true" app-datepicker ng-change="dateChanged()">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div ng-class="{ 'form-group': true, 'has-error': form.dueYear.$invalid || form.dueMonth.$invalid || form.monthSpread.$invalid }">
                            <label class="control-label">Due Period</label>
                            <div class="input-group">
                                <input name="dueYear" type="number" class="form-control" spellcheck="false" ng-model="data.dueYear" required="true" tabindex="-1">
                                <span class="input-group-addon">/</span>
                                <input name="dueMonth" type="number" class="form-control" spellcheck="false" ng-model="data.dueMonth" required="true" tabindex="-1">
                                <span class="input-group-addon">*</span>
                                <input name="monthSpread" type="number" class="form-control" spellcheck="false" ng-model="data.monthSpread" required="true" tabindex="-1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div ng-class="{ 'form-group': true, 'has-error': form.gimmiAmount.$invalid }">
                            <label class="control-label">Gimmi Amount</label>
                            <input type="number" class="form-control" name="gimmiAmount" ng-model="data.gimmiAmount" required="true" ng-change="gimmiAmountChanged()">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div ng-class="{ 'form-group': true, 'has-error': form.elenaDebt.$invalid }">
                            <label class="control-label">Elena Debt</label>
                            <input type="number" class="form-control" name="elenaDebt" ng-model="data.elenaDebt" required="true" tabindex="-1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div ng-class="{ 'form-group': true, 'has-error': form.elenaAmount.$invalid }">
                            <label class="control-label">Elena Amount</label>
                            <input type="number" class="form-control" name="elenaAmount" ng-model="data.elenaAmount" required="true" ng-change="elenaAmountChanged()">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div ng-class="{ 'form-group': true, 'has-error': form.gimmiDebt.$invalid }">
                            <label class="control-label">Gimmi Debt</label>
                            <input type="number" class="form-control" name="gimmiDebt" ng-model="data.gimmiDebt" required="true" tabindex="-1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div ng-class="{ 'form-group': true, 'has-error': form.categoryId.$invalid }">
                            <label class="control-label">Category</label>
                            <select class="form-control" name="categoryId" ng-model="data.categoryId" ng-options="category.id as category.name for category in categories" ng-required="true">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <input type="text" class="form-control" ng-model="data.description">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="submit()">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <pre>{{data | json:4}}</pre>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="alert alert-success" role="alert" ng-repeat="expense in succesfulExpenses track by expense.id">
                {{expense.date | date:'d MMM yy'}}: {{expense.elenaAmount + expense.gimmiAmount | currency:'€':2}}
            </div>
        </div>
    </div>
</div>